@model Student

<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf8">
        <meta http-equiv="X-UA-Compatible" content= "IE=edge">
        <title> THANKS </title>
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
        <link rel = "stylesheet" type = "text/css" media = "screen" href="main.css">
        <script src = "main.js"></script>
    </head>
    <body>
       <h2> Merhaba, @Model.Name</h2>
       <hr>
       @if(Model.Confirm == true)
       {
           <span>
               Kursa katılmış olduğunuzdan dolayı mutlu olduk.
           </span>
           <div>
               Diğer katılımcıları <a asp-action="List"> görüntüle.</a>
           </div>
       }
       else{
           <span>
           Umarım fikriniz değişir.
           </span>
       }
    </body>
</html>